[submodule "04-Go-Storage/storage-api-exercise"]
    path = 04-Go-Storage/storage-api-exercise
    url = https://github.com/bootcamp-go/storage-api-exercise
[submodule "05-Go-Testing/testing-exercise"]
	path = 05-Go-Testing/testing-exercise
	url = https://github.com/bootcamp-go/testing-exercise
